@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Sans+HK:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --greyish-green: #607274;
  --cream: #faeed1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  font-family: "Noto Sans HK", sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 0.2rem;
  padding: 0.9rem 2rem;
  cursor: pointer;
  font-size: 1.7rem;
  color: var(--greyish-green);
  background-color: orange;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: rgba(255, 166, 0, 0.696);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  border-bottom: var(--greyish-green) solid 0.1rem;
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); */
}

header .logo {
  font-size: 3rem;
  color: var(--greyish-green);
  font-weight: bolder;
}

header .logo span {
  color: orange;
}

header .navbar a {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  font-weight: 600;
  color: var(--greyish-green);
}
header .navbar a:hover {
  background-color: orange;
  border-radius: 0.5rem;
  /* color: #fff; */
}

/* BARS */
header #toggler {
  display: none;
}
header .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  /* border: 0.1rem solid rgba(0, 0, 0, 0.3); */
  display: none;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.home .content {
  max-width: 50rem;
}

.home .content h3 {
  font-size: 5rem;
  color: var(--greyish-green);
}

.home .content span {
  font-size: 2rem;
  color: orange;
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 1.5rem;
  color: #999;
  padding: 1rem 0;
  line-height: 1.5;
  text-transform: none;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }

  /* remember that this have an absolute positioning so putting it on top */
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: none;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 30% 0, 30% 100%, 0 100%);
  }

  header .navbar a {
    margin: 1.5rem;
    background: white;
    display: block;
  }
  .home .content h3 {
    font-size: 5rem;
  }

  .home .content span {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  header {
    padding: 2rem;
  }
}
