@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Sans+HK:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --greyish-green: #607274;
  --cream: #faeed1;
  --light-cream: #faeed174;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  font-family: "Noto Sans HK", sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  background-color: #b2a59b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23bbada0' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23c5b6a6' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23cdbeab' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23d6c7b0' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23DED0B6' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23e4d6bb' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23e9dcc1' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23efe2c6' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f4e8cc' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23FAEED1' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
section {
  padding: 2rem 9%;
  min-height: 100vh;
  background: #faeed129;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: var(--greyish-green);
  padding: 1rem;
  margin: 2rem 0;
  background: var(--light-cream);
  /* border: var(--greyish-green) solid 0.1rem; */
}

.heading span {
  color: orange;
}

.btn {
  display: inline-block;
  margin-top: 0.2rem;
  padding: 0.9rem 2rem;
  cursor: pointer;
  font-size: 1.7rem;
  color: var(--greyish-green);
  background-color: orange;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: rgba(255, 166, 0, 0.696);
  letter-spacing: 0.2rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  /* border-bottom: var(--greyish-green) solid 0.1rem; */
  background: #faeed1;
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); */
}

header .logo {
  font-size: 3rem;
  color: var(--greyish-green);
  font-weight: bolder;
}

header .logo span {
  color: orange;
}

header .navbar a {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  font-weight: 600;
  color: var(--greyish-green);
}
header .navbar a:hover {
  background-color: orange;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  /* color: #fff; */
}

/* BARS */
header #toggler {
  display: none;
}

header .fa-bars {
  font-size: 3rem;
  color: #999;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  /* border: 0.1rem solid rgba(0, 0, 0, 0.3); */
  display: none;
}

header #toggler-2 {
  display: none;
}
header .fa-times {
  display: none;
}

header .closebtn {
  display: none;
}

.cursor-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1rem;
  width: 1rem;
  background: var(--greyish-green);
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
}

.cursor-1.active {
  height: 7rem;
  width: 7rem;
  opacity: 0.3;
}

.cursor-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 4rem;
  width: 4rem;
  border: 0.1rem solid var(--greyish-green);

  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
  transition: 0.3s linear;
}

.cursor-2.active {
  display: none;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.home .content {
  max-width: 50rem;
}

.home .content h3 {
  font-size: 5rem;
  color: var(--greyish-green);
}

.home .content span {
  font-size: 2rem;
  color: orange;
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 1.5rem;
  color: #999;
  padding: 1rem 0;
  line-height: 1.5;
  text-transform: none;
}

.about .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.about .row .image-container {
  flex: 1 1 20rem;
  display: flex;
  position: relative;
}

.about .row .image-container img {
  width: 75%;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  /* height: 1%; */
  /* object-fit: cover; */
  margin: auto;
}
.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: var(--greyish-green);
}

.about .row .content p {
  font-size: 1.5rem;
  color: #999;
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;

  text-transform: none;
}

.about .row .content .btn {
  margin: 2rem 0;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
  .cursor-1,
  .cursor-2 {
    display: none;
  }
}

.project .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.project .box-container .box {
  flex: 1 1 30rem;
  height: 25rem;
  position: relative;
  overflow: hidden;
  border: 1rem solid #b2a59b;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: var(--cream);
  border-radius: 0.5rem;
}
.project .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
}
.project .box-container .box:hover img {
  height: 75%;
  width: 75%;
}

.project .box-container .box h3 {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--greyish-green);
}

.project .box-container .box .icons {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.project .box-container .box .icons a {
  display: block;
  height: 5rem;
  width: 5rem;
  border-radius: 0.5rem;
  background: var(--greyish-green);
  color: #fff;
  font-size: 3rem;
  line-height: 5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.project .box-container .box .icons a:hover {
  background: orange;
  color: #fff;
}
@media (max-width: 768px) {
  /* body {
    margin-left: 25 rem;
  } */
  header .fa-bars {
    display: block;
  }

  header .navbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--greyish-green);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  header #toggler:checked ~ .navbar {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    width: 25rem;
  }
  header .navbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--cream);
    display: block;
    transition: 0.3s;
  }

  header .fa-times {
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    font-size: 2.25rem;
    margin-left: 5rem;
    display: block;
    color: var(--cream);
    cursor: pointer;
    padding: 0.5rem;
  }

  header .fa-times:hover {
    background-color: orange;
    border-radius: 0.5rem;
  }

  header #toggler-2:checked ~ .navbar {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    width: 0rem;
  }

  /* remember that this have an absolute positioning so putting it on top */
  /* header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #60727470;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  } */
  /* header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  } */

  /* header .navbar a {
    margin: 1.5rem;
    background: none;
    display: block;
  } */

  .home .content h3 {
    font-size: 5rem;
  }

  .home .content span {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  header {
    padding: 2rem;
  }

  header #toggler:checked ~ .navbar {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    width: 15rem;
  }

  header .navbar a {
    font-size: 1.5rem;
  }
}
